#root {
  text-align: center;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  /* background-color: #f6f8fc;  */
  
}

body {
  overflow-x: hidden;
  
}



.allData::-webkit-scrollbar{
  display: none;
}

.pokiImageRc{
  image-rendering: pixelated;
}

